<%= f.fields_for :address do |addr_fields| %>
	<tr>
		<td>Address</td>
		<td><%= addr_fields.text_area :line_1, :rows => 3, :cols => 3 %></td>
	</tr>
	<tr>
		<td>City</td>
		<td><%= addr_fields.text_field :city %></td>
	</tr>
	<tr>
		<td>State</td>
		<td><%= addr_fields.text_field :state %></td>
	</tr>
	<tr>
		<td>Pincode</td>
		<td><%= addr_fields.text_field :pincode %></td>
	</tr>
	<tr>
		<td>Primary Email</td>
		<td><%= addr_fields.text_field :primary_email %></td>
	</tr>
	<tr>
		<td>Pincode</td>
		<td><%= addr_fields.text_field :secondary_email %></td>
	</tr>
	<tr>
		<td>Mobile Number</td>
		<td><%= addr_fields.text_field :mobile_number %></td>
	</tr>
	<tr>
		<td>Alternate Contact Number</td>
		<td><%= addr_fields.text_field :alternate_number %></td>
	</tr>
<% end %>
