<h2>New Client</h2>
<%= form_for @client do |f| %>
<table>
	<tr><td>Name:</td>
		<td><%= f.text_field :name %></td>
	</tr>
	<%= f.fields_for :address do |addr_fields| %>
		<%= render :partial => '/partials/address_fields', :locals => { :f => addr_fields} %>
	<% end %>
	<tr>
		<td><%= f.submit :submit %></td>
	</tr>
</table>
<% end %>
